* {box-sizing: border-box;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
body {min-width: 320px;margin: auto;width:320px;height: 100vh}
.grid-container {display: grid;grid-template-columns: auto auto auto;background-color: #222222;padding: 10px}
.grid-item {padding: 10px;font-size: 2rem;text-align: center}
.grid-item-narrow {padding: 0 10px; text-align: center}
.deco {font-size: 12px;color: #888888}
footer{padding:30px;text-align:center;width:100%;color:#ffffff;background:#222222;font-size:0.8rem}
.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle;}
.D7MI {font-family: "D7MI"}
.display-frame {position:relative;border:6px solid #000;border-radius:9px;height:165px;width:270px;box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.1) inset;margin: auto;background: #ccffcc}
.time-reading {z-index:100;position:absolute;top:20px;left:15px;font-size:65px}
.temp-unit {position:absolute;top:60px;left:225px;font-size:27px}
.mask {z-index: 50;color: rgba(0, 0, 0, 0.05)}
.second-line,.second-line-display {position: absolute;top: 110px;left: 15px;font-size: 26px;}
.humidity {margin-left: 23px;}
.smaller {font-size: 16px;margin:2px}
#indicator {display:none}
#temp-display {padding: 5px 25px}